<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="logout">
		<a href="{{url_for('logout')}}">Logout</a>
	</div>
    <h1>
        <img src="{{url_for('static', filename='logo.png')}}"align="middle"alt="cymro" width="150" height="150" />
        
    </h1>
    <form method="POST" action="">
        <div class="">
            {{ form.query }}
            {% for error in form.query.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="">
            {{ form.submit() }}
        </div>
        <p>
            {{userInput}}
			<br>
            {{response_text}}
			
			{%if (grades is defined) and grades %}
				{%if grades.count() != 0%}
					<div class="grades">
					<br>
					<table border="1">
						<th> <b>Module Code</b> </th>
						<th> <b>Module Name</b> </th>
						<th> <b>Grade</b> </th>
						{% for grade in grades %}
						
							   <tr>
									<td> {{ grade.ModuleCode }} </td>
									<td> {{ grade.ModuleName }} </td>
									<td> {{ grade.GradePercentage }} </td>
							   </tr>
						{% endfor %}
						</table>
					</div>
				{%else%}
					</br>
					</br>
					<b>Grades are empty</b>
				{%endif%}
            {%endif%}
            
            {%if (timetable is defined) and timetable %}
                {%if timetable.count() != 0%}
                    <div class="timetable">
                        <br>
                        <table border="1">
                            <th> <b>Date</b> </th>
                            <th> <b>Time</b> </th>
                            <th> <b>Module Code</b> </th>
                            <th> <b>Module Name</b> </th>
                            <th> <b>Location</b> </th>
                            <th> <b>Type</b> </th>
                            {% for item in timetable %}
                                <tr>
                                    <td> {{ item.Date }} </td>
                                    <td> {{ item.Time }} </td>
                                    <td> {{ item.ModuleCode }} </td>
                                    <td> {{ item.ModuleName }} </td>
                                    <td> {{ item.Location }} </td>
                                    <td> {{ item.Type }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {%else%}
                    </br>
                    </br>
                    <b>Timetable is empty</b>
                {%endif%}
            {%endif%}

            {%if (calendar is defined) and calendar %}
                {%if calendar.count() != 0%}
                    <div class="calendar">
                        <br>
                        <table border="1">
                            <th> <b>Date</b> </th>
                            <th> <b>Time</b> </th>
                            <th> <b>Reminder</b> </th>
                            <th> <b>Type</b> </th>
                            {% for item in calendar %}
                                <tr>
                                    <td> {{ item.Date }} </td>
                                    <td> {{ item.Time }} </td>
                                    <td> {{ item.Reminder }} </td>
                                    <td> {{ item.Type }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {%else%}
                    </br>
                    </br>
                    <b>Calender is empty</b>
                {%endif%}
            {%endif%}



{%if (sports is defined) and sports %}
                    <div class="sports">
                    <br>
                    <table border="1">
                        <th> <b>Sport</b> </th>
                        <th> <b>Team1</b> </th>
                        <th> <b>Team2</b> </th>
                        <th> <b>Score</b> </th>
                        {% for sport in sports %}
                        
                               <tr>
                                    <td> {{ sport.Sport }} </td>
                                    <td> {{ sport.Team1 }} </td>
                                    <td> {{ sport.Team2 }} </td>
                                    <td> {{ sport.Score }} </td>
                               </tr>
                        {% endfor %}
                        </table>
                    </div>
                {%else%}
                    </br>
                    </br>
            {%endif%}
        </p>
    </form>
</body>
